html{
    background: rgba(88, 158, 204, 0.473);
}

h1{
    color: rgb(255, 255, 255);
    padding: 10px;
}
  
.container{
    max-width: 400px;
    margin: 50px auto;
    background: white;
    border-radius: 5px;
    box-shadow: 5px 5px 15px -5px rgba(0, 0, 0, 0.3);
}
  
#headboard {
    background-color: #3f51b5;
    text-align: center;
}

.element {
    min-height: 70px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #f1f1f1;
}

.buttons-container{
    text-align: center;
}

button {
    min-height: 50px;
    width: 50px;
    border-radius: 50%;
    border-color: transparent;
    background-color: #3f51b5;
    color: #fff;
    font-size: 30px;
    padding-bottom: 6px;
    border-width: 0;
    cursor: pointer;
    margin-top: 10px;
}

input[type="text"] {
    text-align: center;
    height: 60px;
    top: 10px;
    border: none;
    background: transparent;
    font-weight: 200;
    width: 40%;
}

input[type="number"]:focus {
    outline: none;
    box-shadow: inset 0 -3px 0 0 #3f51b5;
}
 
input[type="number"] {
    text-align: center;
    height: 60px;
    top: 10px;
    border: none;
    background: transparent;
    font-weight: 200;
    width: 40%;
}

input[type="text"]:focus {
    outline: none;
    box-shadow: inset 0 -3px 0 0 #3f51b5;
}

::placeholder {
    color: grey;
    opacity: 1;
}

form {
    text-align: center;
    margin-left: 20px;
}

.message{
    text-align: center;
    color: gray;
}

.message-container{
    padding: 10px;
}